header {
    border-bottom: 2px solid #808080;
    background: darkcyan;
}

body{
    margin: 0;
}

div#content {
    margin-left: 200px;
    border-left: 2px solid #808080;
}



/*Заголовок в начале страницы*/
div#title {
    font-size: 50px;
    padding: 60px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



/*
    item - блок для каждой отдельной книги
*/
div.item {
    font-family: 'Palatino Linotype';
    border-top: 1px dotted grey;
    margin-left: 25px;
    padding: 30px;
}

.item h2{
    margin:0;
}

div.item:first-child{
    border-top:none;
}



/*
    pageNum - ссылки для перехода между страницами (1,2,3...)
*/
div#pageNum{
    text-align:center;
    font-size: 20px;
    font-family: Verdana;
    padding: 20px;
    border-top: 2px solid #808080;
}

div#pageNum a {
     color: grey;
     text-decoration: none;
     /*padding-right: 5px;*/
     margin: 5px;
}

    /*div#pageNum a:last-child {
        padding-right: 6px;
    }*/


    div#pageNum a.selected {
        background: darkcyan;
        color: white;
    }

div#pageNum a:hover {
    background-color: Silver;
}




/*
    genreList - колонка с допустимыми жанрами
*/
div#genreList {
    float: left;
    font-size: 20px;
}

    div#genreList a {
        display: block;
        margin-left:10px;
        padding: 20px 60px 5px 30px;
        text-decoration: none;
        border-bottom: 1px solid silver;
        color:black;
    }

    div#genreList a:hover{
        background-color: grey;
    }

        div#genreList a.selected {
            background-color: darkcyan;
            color:white;
        }

    div#genreList p{
        margin:1px;
    }