header {
    border-bottom: 2px solid #808080;
    background: darkcyan;
}

body{
    margin: 0;
}

div#title {
    font-size: 50px;
    padding: 60px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div#content {
    margin-left: 260px;
    border-left: 2px solid #808080;
}

div.item {
    font-family: 'Palatino Linotype';
    border-top: 1px dotted grey;
    margin-left: 25px;
    padding: 30px;
}

.item h2{
    margin:0;
}

div.item:first-child{
    border-top:none;
}

div#genreList{
    float: left;
    background: grey;
}

div#pageNum{
    text-align:center;
    font-size: 20px;
    font-family: Verdana;
    padding: 20px;
    border-top: 2px solid #808080;
}

div#pageNum a {
     color: grey;
     text-decoration: none;
     padding-left: 6px;
     margin: 5px;
}

    div#pageNum a:last-child {
        padding-right: 6px;
    }


    div#pageNum a.selected {
        background: darkcyan;
        color: white;
    }

div#pageNum a:hover {
    background-color: Silver;
}